<% layout('layouts/boilerplate')%>
<h1>Feed</h1>
<a href="/feed/new">Create Post</a>
<% for(let post of posts){ %>
<h4 class="my-3">
  User: <a href="/feed/<%= post._id %>"><%= post.admin %></a>
</h4>
<% } %>
