<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socio-Shree</title>
  </head>
  <body>
    <h1>Feed</h1>
    <a href="/feed/new">Create Post</a>
    <% for(let post of posts){ %>
    <h3>User: <a href="/feed/<%= post._id %>"><%= post.admin %></a></h3>
    <% } %>
  </body>
</html>
