<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media</title>
    <link rel="stylesheet" href="/stylesheets/parallaxHomePage.css" />
  </head>
  <body>
    <header>
      <nav id="navbar" class="navigation">
        <h2 class="logo">YelpCamp</h2>
        <div class="links">
          <a class="nav-links active" href="#">Home</a>
          <a class="nav-links" href="#">All Campgrounds</a>
          <a class="nav-links" href="#">New Campground</a>
          <a class="nav-links" href="#">Login</a>
        </div>
      </nav>
    </header>

    <section class="parallax">
      <img src="/images/hill1.png" id="hill1" />
      <img src="/images/hill2.png" id="hill2" />
      <img src="/images/hill3.png" id="hill3" />
      <img src="/images/hill4.png" id="hill4" />
      <img src="/images/hill5.png" id="hill5" />
      <img src="/images/tree.png" id="tree" />
      <h2 id="title">Welcome</h2>
      <img src="/images/leaf.png" id="leaf" />
      <img src="/images/plant.png" id="plant" />
    </section>

    <script src="/javascripts/parallaxHomePage.js"></script>
  </body>
</html>
